

  .about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }

 .about .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    
  }
  
 .about .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
 .about .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
 .about .nav ul li {
    margin-left: 1rem;
  }
  
 .about .nav ul li a {
    color: #333;
    text-decoration: none;
  }

  .about-header {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }
  
  .about-header .about-header__content {
    display: flex;
    flex: 1;
  }
  
  .about-header__image-container {
    width: 50%; 
    max-width: 300px;
    margin-right: 2rem;  
    padding-left: 1.5rem;
  }

  .about-header__image-container img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
  }
  
  .about-header__caption {
    text-align: left;
    padding: 2rem;
  }
  
  .about-header__caption h1 {
    font-size: 2em;
    text-align: left;
  }
  
  .about-header__caption p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  

  .about-content {
    line-height: 1.5;
    padding-left: 3rem;
  }
  
  .about-content h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .about-content li {
    margin-bottom: 0.5rem;
  }

   .about-content li svg {
    margin-right: 10px; 
    font-size: 1.2rem; 
    color: yellow; 
  }
  
  
  .about-values {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .about-values li {
    margin: 2rem;
    padding: 0.5rem 1rem;
    background-color: hsl(0, 33%, 96%);
    border-radius: 5px;
    margin-bottom: 3rem;
  }
  
  
  .footer {
    padding: 1rem;
    text-align: center;
  }
 
  
 .footer .social-media-links {
  margin-top: 1rem;
 }
 
 .footer .social-media-links a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s ease;
 }
 
 .footer .social-media-links a:hover {
  color: #007bff;
 }